.container {
    height: 100%;
    width: 100%;
}

.sider {
    height: 100%;
}

.header {
    width: 100%;
}

.loginInfo {
    display: inline-block;
    float: right;
    margin-right: 20px;
}

.home {
    margin: 50px;
}
